@import "fonts.css";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

html,
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.loadingPage {
  --webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: #fc05c6;
  z-index: 9999;
  text-transform: uppercase;
  font-size: 24px;
  font-family: "CuteGroovy", sans-serif;
  color: #fff;
}

.loadingPageCenter {
  position: relative;
  width: 100%;
  margin-top: 100px;
  height: 16rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  gap: 24px;
}

.hi-section {
  position: absolute;
  letter-spacing: 6px;
  text-align: center;
  font-size: 60px;
  font-family: "CuteGroovy", sans-serif;
  color: #fff;
  padding: 8px 16px;
  visibility: hidden;
}

.loadingPageTop {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.loadingText {
  font-size: 24px;
  letter-spacing: 2px;
  font-family: "CuteGroovy", sans-serif;
  color: #fff;
  margin-bottom: 24px;
}

.enter {
  padding: 24px 36px;
  letter-spacing: 2px;
  border-radius: 8px;
  border: none;
  background-color: #fff;
  color: #ff07f3;
  font-family: "CuteGroovy", sans-serif;
  font-size: 24px;
  cursor: pointer;
  opacity: 0;
  pointer-events: none;
}

.withoutEnter {
  letter-spacing: 2px;
  padding: 24px 30px;
  border-radius: 8px;
  border: none;
  background-color: #fff;
  color: #ff07f3;
  font-family: "CuteGroovy", sans-serif;
  font-size: 24px;
  cursor: pointer;
  opacity: 0;
  pointer-events: none;
}

#experience {
  position: fixed;
  top: 0px;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 99;
}

#experience canvas.webgl {
  height: 100%;
  width: 100%;
}

.navbar {
  position: fixed;
  list-style: none;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
  z-index: 999;
}

.navright {
  width: 260px;
  margin: 0px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.navCenter {
  width: 270px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.nav-Logo {
  width: 270px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-size: 28px;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
  font-family: "CuteGroovy", sans-serif;
  transform: translateY(-10px);
}

.logo-first {
  color: #ff69b4;
}

.logo-second {
  color: #da70d6;
}

.logo-third {
  color: #8a2be2;
}
.nav-button {
  width: 120px;
  height: 50px;
  letter-spacing: 2px;
  background: #ff0fff;
  color: #fff;
  border: none;
  padding: 0px 8px;
  font-size: 24px;
  color: #ffffff;
  border-radius: 6px;
  cursor: pointer;
  font-family: "CuteGroovy", sans-serif;
}

/* Ana Kapsül */
.theme-toggle {
  width: 120px;
  height: 50px;
  background-color: #ff0fff; /* Gündüz rengi (Açık gri) */
  border-radius: 44px;
  border: none;
  cursor: pointer;
  position: relative;
  padding: 0px 8px; /* Yuvarlağın kapsüle değmemesi için iç boşluk */
  box-sizing: border-box;
  overflow: hidden;
}

/* Kayacak olan Yuvarlak */
.toggle-handle {
  width: 36px;
  height: 36px;
  background-color: #e5b8d9; /* Gündüz güneşi rengi (Turuncu) */
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative; /* SVG'leri hizalamak için */
  z-index: 2;
}

/* SVG'lerin genel ayarı */
.toggle-icon {
  width: 24px;
  height: 24px;
  position: absolute; /* İkisini tam üst üste bindirir */
  color: white; /* İkonların iç rengi */
}

.aboutSection {
  position: fixed;
  top: 50%; /* Navbar'ın hemen altında */
  left: 50%;
  width: 60vw;
  height: 75vh;
  background-color: #ff0fff; /* Yarı saydam arka plan */
  color: #fff;
  display: flex;
  flex-direction: column;
  padding: 16px 16px 32px 16px;
  border-radius: 12px;
  transform: translate(-50%, -200%);
  z-index: 999;
  gap: 20px;
  box-shadow: 4px 4px 0px rgba(45, 27, 78, 1);
}

.aboutTop {
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.aboutTopLeft {
  width: 40%;
  height: 100%;
  background-color: #ff0fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  font-family: "CuteGroovy", sans-serif;
  border-radius: 8px;
  box-shadow: 6px 6px 0px #000000;
  cursor: pointer;
  transition: box-shadow 0.2s ease;
  opacity: 0;
}
.aboutTopLeft:hover {
  transform: translate(4px, 4px); /* Gölgenin yönüne doğru kayar */
  box-shadow: 2px 2px 0px #000000; /* Gölge küçülür, basılmış hissi verir */
}

.aboutTopLeft img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
  overflow: hidden;
}

.aboutTopRight {
  background-color: #1a1525;
  width: 60%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 4px;
  padding: 16px;
  box-shadow: 6px 6px 0px #000000;
  border-radius: 8px;
  cursor: pointer;
  transition: box-shadow 0.2s ease;
  opacity: 0;
}

.aboutTopRight:hover {
  transform: translate(4px, 4px); /* Gölgenin yönüne doğru kayar */
  box-shadow: 2px 2px 0px #000000; /* Gölge küçülür, basılmış hissi verir */
}

.aboutTopRightTop {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  font-size: 16px;
  font-family: "CuteGroovy", sans-serif;
}

.aboutTopHeader {
  font-size: 18px;
  height: 100%;
  color: #fee715;
  font-family: "FredokaOne", sans-serif;
  text-transform: uppercase;
  text-shadow: 2px 2px 0px rgba(45, 27, 78, 0.8);
}

.aboutTopText {
  height: 100%;
  font-size: 18px;
  color: #f8f9fa;
  font-family: "Nunito", sans-serif;
  text-shadow: 2px 2px 0px rgba(45, 27, 78, 0.8);
}

.aboutBottomHeader {
  font-size: 18px;
  color: #fee715;
  font-family: "FredokaOne", sans-serif;
  text-transform: uppercase;
  text-shadow: 2px 2px 0px rgba(45, 27, 78, 0.8);
}

.aboutBottomText {
  font-size: 20px;
  color: #f8f9fa;
  font-family: "Nunito", sans-serif;
  text-shadow: 2px 2px 0px rgba(45, 27, 78, 0.8);
}

.aboutTopRightBottom {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-size: 24px;
  font-family: "CuteGroovy", sans-serif;
}

.aboutBottom {
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
  font-family: "CuteGroovy", sans-serif;
  margin-bottom: 16px;
}

.aboutBottomLeft {
  background-color: #1a1525;
  width: 70%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 12px;
  border-radius: 8px;
  box-shadow: 6px 6px 0px #000000;
  padding: 16px 16px 0px 16px;
  cursor: pointer;
  transition: box-shadow 0.2s ease;
  opacity: 0;
}

.aboutBottomLeft:hover {
  transform: translate(4px, 4px); /* Gölgenin yönüne doğru kayar */
  box-shadow: 2px 2px 0px #000000; /* Gölge küçülür, basılmış hissi verir */
}

.aboutBottomRight {
  box-shadow: 6px 6px 0px #000000;
  width: 30%;
  height: 100%;
  display: flex;
  border-radius: 8px;
  cursor: pointer;
  transition: box-shadow 0.2s ease;
  opacity: 0;
}

.aboutBottomRight:hover {
  transform: translate(4px, 4px); /* Gölgenin yönüne doğru kayar */
  box-shadow: 2px 2px 0px #000000; /* Gölge küçülür, basılmış hissi verir */
}

.aboutBottomRight img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
}

.aboutCloseButton {
  position: absolute;
  /* Butonu kartın tam köşesine, yarısı dışarı taşacak şekilde yerleştiriyoruz */
  top: -20px;
  right: -20px;
  width: 45px;
  height: 45px;

  /* Renkler ve Sınırlar */
  background-color: #facc15; /* Canlı retro sarı */
  color: #2d1b4e; /* Koyu mor X işareti */
  border: 3px solid #2d1b4e; /* Atari butonu hissi için kalın çerçeve */
  border-radius: 50%; /* Tam yuvarlak */

  /* İçerik Hizalama */
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "CuteGroovy", sans-serif;
  font-size: 24px;
  cursor: pointer;

  /* 3D Atari Butonu Gölgesi */
  box-shadow: 4px 4px 0px rgba(45, 27, 78, 1);
  z-index: 100;
}

.specialWord {
  color: #ff0fff;
}

.specialWord2 {
  color: #fee715;
}

.specialWord3 {
  color: cyan;
}
